@import '../../../colours';

.navbar.is-general {
  background: linear-gradient(#5a5a5a, #000000);
}

.navbar.is-general a:hover {
  color: white;
}

.navbar.is-general a {
  color: $colour-grey;
}

.is-general__logo {
  max-width: 2rem;
  max-height: 2rem;
}

@media screen and (max-width: 1023px) {
  .is-general .navbar-menu {
    background-color: inherit;
  }

}

.is-general a.navbar-item.is-active:not(:hover),
.is-general a.navbar-link.is-active:not(:hover) {
  background-color: transparent;
}

.is-general a.navbar-item:hover,
.is-general a.navbar-link:hover {
  background-color: transparent;
}

.is-general a.navbar-item.is-active,
.is-general a.navbar-link.is-active {
  background-color: transparent;
}

.is-general .navbar-item {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

.is-general a.navbar-item {
  position: relative;
}

.is-general a.navbar-burger:hover {
  color: $colour-teal;
}

@media screen and (min-width: 1024px) {
  .is-general a.navbar-item.is-active::after {
    position: absolute;
    bottom: 0;
    right: 50%;
    height: 0;
    width: 0;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    content: '\a0';
    margin-right: -8px;
  }

  .is-general .navbar-item.has-dropdown:hover .navbar-link,
  .is-general .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
  }
}

.navbar__notifications {
  font-size: 1.1em;
}

.navbar__notifications .fa {
  font-size: 1.3em;
}
