@import '../../../colours';

.subnav {
  border-bottom: 1px solid $colour-grey;
}

.subnav__item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.subnav__item + .subnav__item {
  margin-left: 1em;
}
