@import 'colours';

$family-primary: 'Open Sans', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$text: $colour-dark;
$primary: $colour-teal;
// $primary: #F45D45;
$link: $colour-teal;

$navbar-background-color: $colour-blue;
$navbar-item-color: $colour-grey;
$navbar-item-hover-color: $colour-teal;
$navbar-item-active-color: $colour-green;
$navbar-item-active-background-color: white;
$navbar-item-hover-background-color: white;

$notification-padding: 1.25rem 1.5rem 1.25rem 1.5rem;

.is-horizontal .checkbox {
  line-height: 2.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.field-label.is-flex-grow-2 {
  flex-grow: 2;
}

@import '~bulma/bulma';
