.button {
  transition: 0.1s;
}

.button.is-rust {
  background-color: #F45D45;
  border-color: transparent;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  height: 3.25em;
}

.button.is-rust:hover,
.button.is-rust:focus {
  background-color: #dc4128;
  border-color: transparent;
  color: #fff;
}

.button.is-rust.is-inverted {
  background-color: transparent;
  border-color: #F45D45;
  color: #F45D45;
}

.button.is-rust.is-inverted:hover {
  background-color: #F45D45;
  border-color: transparent;
  color: #fff;
}
