.cd-label {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  color: #AAA;
  margin-bottom: 0.75rem;
}

.text-teal {
  color: #39BFC9;
}

.cd-table__icon {
  color: #76D3DA;
}

.button.is-rust {
  background-color: #F45D45;
  border-color: transparent;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  height: 4.25em;
  width: 100%;
}

.button.is-rust:hover {
  background-color: #dc4128;
  border-color: transparent;
  color: #fff;
}
