.cd-label {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  color: #AAA;
}

h5.cd-label {
  margin-bottom: 0.75rem;
}

.text-teal {
  color: #39BFC9;
}

.cd-table__icon {
  color: #76D3DA;
}
