.broker-navbar {
  background: linear-gradient(#D8D8D8, #EEEEEE);
}

.broker-navbar .navbar-item {
  color: #777777;
}

.broker-navbar a.navbar-item {
  padding: 1rem 2rem;
}

.broker-navbar a.navbar-item:hover {
  color: #2F6690;
  background-color: white;
}
