.table-header-subtitle {
  color: #43A2A1;
  font-weight: bold;
  float: right;
}

.assets__create {
  margin-bottom: 1em;
}

.assets__create-button .fa {
  padding-right: 0.3em;
}

.assets__table__label {
  font-size: 0.85rem;
  color: #777;
}

.assets__table__value {
  /* font-size: 0.875rem; */
  /* font-weight: bold; */
}

.assets__table__label {
  top: -4px;
  position: relative;
  font-weight: normal;
  color: #777777;
  text-transform: uppercase;
}

.assets__table__value small {
  font-weight: normal;
  color: #777;
  padding-left: 1em;
}
